.container{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  
  align-items: center;
  font-weight: bolder;
  font-size: x-large;
}
.img{
  border-radius: 50% 50%;
  margin-bottom: 5%;
   
}
.clg{
  text-decoration: none;
}